*{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
    font-size: 0;
}
.article {
    position: relative;
    width: 200PX;
    height: 226PX;
    background: #E0E0E0;
    text-align: center;
    display:inline-block;
    margin:15px 15px;
}

.article-img {
    width: 130PX;
    height: 130PX;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

.article-item {
    top: 140px;
    position: absolute;
    font-family: Roboto;
}

h2 {
    margin: unset;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}

p {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}