.article {
    position: relative;
    width: 200PX;
    height: 226PX;
    border: 0PX solid blue;
    text-align: center
}
.article-img{
    width: 130PX;
    height: 130PX;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0)
}
.article-item{
    top: 140px;
    position: absolute;
    margin: unset
    display: inline;
}
h2{
    margin: unset
}
p{
    margin: 10px 0px 18px 0px
}